:root {
  --header-height: 3rem;

  --hue: 174;
  --sat: 63%;
  --first-color: hsl(var(--hue), var(--sat), 90%);
  --first-color-alt: hsl(var(--hue), var(--sat), 36%);
  --title-color: hsl(var(--hue), 88%, 96%);
  --text-color: hsl(var(--hue), 88%, 96%);
  --body-color: hsl(var(--hue), 100%, 99%);
  --container-color: rgb(87, 87, 87);

  --body-font: 'Open Sans', sans-serif;
  --h1-font-size: 1.5rem;
  --normal-font-size: .938rem;
  --tiny-font-size: .625rem;

  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --h1-font-size: 2.25rem;
    --normal-font-size: 1rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.nav__menu {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #2f4337;
  box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
  width: 100%;
  /* margin: 0 30%; */
  height: 3rem;
  padding: 0 1rem;
  display: grid;
  align-content: center;
  border-radius: 1.25rem 1.25rem 0 0;
  transition: .4s;
  z-index: 600;
}

.nav__list,
.nav__item_wrapper {
  display: flex;
}

.nav__item_wrapper {
  flex-direction: column;
  align-items: center;
  row-gap: 4px;
  color: var(--title-color);
  /* font-weight: 600; */
}

.nav__item_wrapper:hover {
  color: hsl(137deg 55% 75%);
}

.nav__list {
  justify-content: space-around;
  align-items: center;
}

.nav__item {
  cursor: pointer;
  margin: auto;
}

@media screen and (min-width: 750px) {
  .nav__menu {
    position: fixed;
    bottom: 0;
    width: 60%;
    height: 4rem;
    margin: 0 20%;
  }
}

@media screen and (max-width: 750px) {
  #name {
    width: 160px;

  }
}

